extends layout

block sidebar
    div= 'Sidebar'

block main
    .Box
        .Box-header.d-flex.flex-justify-between
            h2.Box-title= 'Item List'
            a.btn.btn-sm.btn-primary(href='/item/new')= 'New'
        hydrated-section.Box-body.d-block(resource="user")
            ul#list.ActionList.ActionList--divided(role="menu")
                if items.length
                    each item in items
                        li.ActionList-item(role="menuitem")
                            span.ActionList-content
                                a.ActionList-item-label(href= '/item/' + item.id)= item.name
                else
                    .blankslate
                        h2.mb-1= 'No items exist'
                        p= 'Items are needed for this list to have content.'